.coupon-headers {
  padding: 0 16px;
}

.table-coupon {
  tfoot td span {
    margin: 0 6px;
  }
}

.match-not_started {
  color: @brand-primary;
}

.match-pause {
  color: @brand-warning;
}

.match-ended {
  color: @brand-danger;
}

.match-on_going {
  color: @brand-success;
}